<%= javascript_include_tag 'qw3/newsletters' %>

<div class="modulo newsletter">
	<h3>Newsletter</h3>
	
	<div class="inside">
	
	<%= form_tag '/newsletters/create', :remote => true, :id => 'form-newsletter' do %>

		<div class="field">
			<%= text_field_tag :newsletter_nome, '', :title => 'Seu nome', :class=> "titulo_clicavel" %>
		</div>
		<div class="field">	
			<%= text_field_tag :newsletter_email, '',	:title => 'Seu e-mail', :class=> "titulo_clicavel" %>
		</div>
		<div class="button-container">
			<%= submit_tag 'Enviar', :class => 'button' %>
			<div id="loading-newsletter"></div>
		</div>
	
	<% end %>
	
	</div>
</div>
