<div class="page_header">
	<h1>Cadastros no newsletter</h1>
	<div class="menu-acoes">
	  <%= link_to administrator_exportar_cadastros_path, :class => "button exportar" do %>
	  	<span>Exportar</span>
	  <% end %>
	</div>
</div>

<div class="inside filtros">
    <%= form_tag('/administrator/newsletters/index', :remote => true, :method => :get) do %>
	    <div class="field">
		    <%= label_tag :nome %>
		    <%= text_field_tag :nome, @filtros[:nome] %>
	    </div>
	    <div class="field">
		    <%= label_tag :email, 'E-mail' %>
		    <%= text_field_tag :email, @filtros[:email] %>
	    </div>
	    <%= submit_tag "Buscar" %>
    <% end %>
</div>

<div class="inside" id="newsletters-index">
	<%= render 'newsletters' %>
</div>
